body {
    background-color: goldenrod;
    width: 100%;
}

.col-left {
    width: 30%;
    float: left;
}

.col-right {
    width: 70%;
    float: right;
}


td {
    border: 1px solid black;
    padding: 10px;
}


* {
    box-sizing: border-box;
}

p {
    padding: 0;
    margin: 3px;
}

.drinks {
    background-color: salmon;
}

.other {
    background-color: cadetblue;
}

.food {
    background-color: cornflowerblue;
}

.removed {
    transition: all 1s;
    opacity: 0;
}
